celery==5.2.0
kombu==5.2.1
tornado==5.1.1
werkzeug==1.0.1
SQLAlchemy>=1.3.24
wtforms==2.3.3
psycopg2-binary==2.9
apache-airflow-providers-snowflake==2.6.0
apache-airflow-providers-microsoft-mssql==3.0.0
apache-airflow-providers-amazon==4.1.0
apache-airflow-providers-oracle==3.3.0
apache-airflow-providers-mysql==3.2.0
apache-airflow-providers-google==8.6.0
apache-airflow-providers-postgres==4.1.0
apache-airflow-providers-ssh==3.0.0
apache-airflow-providers-mongo==3.0.0
apache-airflow-providers-tableau==4.0.0
apache-airflow-providers-odbc==3.2.1
apache-airflow-providers-jdbc==3.3.0
apache-airflow-providers-databricks==4.0.0
apache-airflow-providers-apache-hive==6.2.0
statsmodels==0.13.2
Cython>=0.22
cmdstanpy>=1.0.1
numpy>=1.15.4
pandas>=1.0.4
matplotlib>=2.0.0
LunarCalendar>=0.0.9
convertdate>=2.1.2
holidays==0.14.2
setuptools>=42
setuptools-git>=1.2
python-dateutil>=2.8.0
tqdm>=4.36.1
wheel>=0.37.0
prophet==1.1
boto3==1.26.4
python-dotenv==0.20.0
redshift-connector==2.0.908
oracledb==1.0.3
markupsafe==2.0.1
slack==0.0.2
slackclient==2.9.4
aiohttp==3.8.1
markupsafe==2.0.1
pkutils==3.0.2
scikit-learn==1.0.2
pycrypto==2.6.1
pycryptodome==3.16.0
pycryptodomex==3.14.1
pmdarima==2.0.3
pyathena==2.25.1
xhtml2pdf==0.2.11
pymsteams==0.2.2
detect-delimiter==0.1.1
pyhive==0.7.0
ibm_db==3.1.4
thrift-sasl==0.4.3