--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.5.1/constraints-3.10.txt"
--find-links /usr/local/airflow/plugins
dqlabs==2.0
celery==5.2.7
kombu==5.2.4
tornado==6.1
werkzeug==2.2.2
SQLAlchemy==1.4.46
wtforms==3.0.1
psycopg2-binary==2.9.5
apache-airflow-providers-snowflake==4.0.2
apache-airflow-providers-microsoft-mssql==3.3.2
apache-airflow-providers-amazon==7.1.0
apache-airflow-providers-oracle==3.6.0
apache-airflow-providers-mysql==4.0.0
apache-airflow-providers-google==8.8.0
apache-airflow-providers-postgres==5.4.0
apache-airflow-providers-ssh==3.4.0
apache-airflow-providers-mongo==3.1.1
apache-airflow-providers-tableau==4.0.0
apache-airflow-providers-odbc==3.2.1
apache-airflow-providers-jdbc==3.3.0
apache-airflow-providers-databricks==4.0.0
statsmodels==0.13.2
pymssql==2.2.7
Cython==0.29.35
cmdstanpy==1.1.0
numpy==1.22.4
pandas==1.5.2
matplotlib==3.5.3
LunarCalendar==0.0.9
convertdate==2.4.0
holidays==0.14.2
setuptools>=42
setuptools-git==1.2
python-dateutil==2.8.2
tqdm==4.64.1
wheel==0.37.1
prophet==1.1
boto3==1.26.51
python-dotenv==0.21.0
redshift-connector==2.0.909
oracledb==1.2.1
markupsafe==2.1.2
slack==0.0.2
slackclient==2.9.4
aiohttp==3.8.3
pkutils==3.0.2
scikit-learn==1.2.0
pycryptodome==3.16.0
pycryptodomex==3.16.0
pmdarima==2.0.3
pyathena==2.25.1
xhtml2pdf==0.2.11
pyhive==0.6.5
thrift-sasl==0.4.3