--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.2/constraints-3.7.txt"
--find-links /usr/local/airflow/plugins
dqlabs==2.0
celery==5.2.0
kombu==5.2.1
tornado==6.1
werkzeug==1.0.1
SQLAlchemy==1.3.24
wtforms==2.3.3
psycopg2-binary==2.9.1
apache-airflow-providers-snowflake==2.3.0
apache-airflow-providers-microsoft-mssql==2.0.1
apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-oracle==2.0.1
apache-airflow-providers-mysql==2.1.1
apache-airflow-providers-google==6.1.0
apache-airflow-providers-postgres==2.3.0
apache-airflow-providers-ssh==2.3.0
apache-airflow-providers-mongo==2.2.0
apache-airflow-providers-tableau==2.1.2
apache-airflow-providers-odbc==2.0.1
apache-airflow-providers-jdbc==2.0.1
apache-airflow-providers-databricks==2.0.2
statsmodels==0.13.2
pymssql==2.2.2
Cython>=0.22
cmdstanpy==1.0.1
numpy==1.20.3
pandas==1.3.4
matplotlib==3.5.3
LunarCalendar==0.0.9
convertdate==2.4.0
holidays==0.14.2
setuptools>=42
setuptools-git==1.2
python-dateutil==2.8.2
tqdm==4.62.3
wheel==0.41.0
prophet==1.1
boto3==1.18.65
python-dotenv==0.20.0
redshift-connector==2.0.908
oracledb==1.0.3
markupsafe==2.0.1
slack==0.0.2
slackclient==2.9.4
aiohttp==3.8.0
pkutils==3.0.2
scikit-learn==1.0.2
pycryptodome==3.11.0
pycryptodomex==3.11.0
pmdarima==2.0.3
pyathena==2.25.1
xhtml2pdf==0.2.11
pyhive==0.6.5
thrift-sasl==0.4.3